.question__inner {
  padding: 16px;
  margin-bottom: 25px;
  display: flex;
  background-color: $primary-bg-color;
  border-radius: 2px;
  .question__picture {
    width: 200px;
    height: 155px;
    border-radius: 10px;
  }
  .list__group {
    width: 100%;
    margin-left: 40px;
    .list__group__item {
      border-right-width: 0;
      border-left-width: 0;
      &:first-child {
        border-top-width: 0;
      }
      &:last-child {
        border-bottom-width: 0;
      }
    }
  }
  .audio-player {
    margin: 10px 40px 8px 0;
    width: 100%;
    min-width: 100px;
  }
  h3 {
    font-size: 32px;
    margin: 0 0 8px;
  }
}
