.answer__inner {
  padding: 5px;
  display: flex;
  .list__group {
    width: 50%;
    margin-right: 25px;
    background-color: $primary-bg-color;
    border-radius: 2px;
    .list__group__item {
      padding: 20px 13px;
    }
  }
}
