.answer__inner {
  display: flex;
  .list__group {
    width: 45%;
    margin-right: 25px;
    background-color: $primary-bg-color;
    border-radius: 2px;
    .list__group__item {
      padding: 20px 13px;
      cursor: pointer;
      &:hover {
        background-color: darken($primary-font-color,70%);
      }
    }
  }
}
